.composition {
    position: relative; }
    .composition_photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 2rem; }
      .composition_photo--p1 {
        left: 0;
        top: -2rem; 
        height: 300px;}
      .composition_photo--p2 {
        right: 0;
        top: 2rem; 
        height: 300px;}
      .composition_photo--p3 {
        left: 20%;
        top: 10rem;
        height: 300px;
        width: 35rem; }
      .composition_photo:hover {
        outline: 1.5rem solid #55c57a;
        width: 40rem;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
    .composition:hover .composition_photo:not(:hover) {
      transform: scale(0.9); }

.photo{
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
}
.photo:hover{
    outline: 1.5rem solid #55c57a;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(255, 255, 255);
}